# macOS
.DS_Store

# Logs
*.log

# Editor
.vscode/
.idea/

# Dependencies
node_modules/

# Build artifacts
*.tmp
*.bak
dist/
.turbo/

# Test artifacts
test-results/
playwright-report/

# pnpm
pnpm-debug.log*

# Vite
*.local
